@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">

            <div class="row">
                <div class="col-md-5 mx-4">
                    <a href="/Usuario/Create" class="btn btn-primary">Registrarse</a>
                </div>
                <div class="col-md-5 mx-4">
                    <a href="/usuario/login" class="btn btn-primary">Iniciar Sesion</a>
                </div>
            </div>
       

    </div>

</body>

